---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">
  <BaseLayout pageTitle="About me">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
      dolorum eos eveniet earum neque quia nemo, a blanditiis aperiam error
      reiciendis dolores iste deleniti quo. Incidunt repellendus quisquam quasi
      fugiat.
    </p>
  </BaseLayout>
</html>
