---
const { final_date } = Astro.props;
const TIMESTAMP_END = final_date.getTime();
---

<div class="countdown-container">
  <header>
    <h1>Launching Soon</h1>
    <p>This is under development. Stay tuned!</p>
    <h2>Countdown to launch:</h2>
  </header>

  <section class="countdown" data-date={TIMESTAMP_END}>
    <p><span data-days>00</span> d</p>
    <p>
      <span data-hours>00</span> h
    </p>
    <p>
      <span data-minutes>00</span> m
    </p>
    <p>
      <span data-seconds>00</span> s
    </p>
  </section>

  <p class="text-secondary">
    Check the progress of the code on the <a
      href="https://github.com/annacano0/annacano.dev"
      target="_blank">repository</a
    >
  </p>
</div>

<script>
  const SECOND = 1000;
  const MINUTE = SECOND * 60;
  const HOUR = MINUTE * 60;
  const DAY = HOUR * 24;

  function init() {
    const $countdown = document.querySelector("[data-date]");
    if (!$countdown) return;

    const $days = $countdown.querySelector("[data-days]");
    const $hours = $countdown.querySelector("[data-hours]");
    const $minutes = $countdown.querySelector("[data-minutes]");
    const $seconds = $countdown.querySelector("[data-seconds]");

    const timestamp = $countdown.getAttribute("data-date");
    const date = new Date(+timestamp!).getTime();

    const formatTime = (time: number) => {
      return Math.floor(+time).toString().padStart(2, "0");
    };

    function updateCountdown() {
      //get the difference of ms between the first and second date
      const now = Date.now();
      const diff = date - now;

      //update days
      $days instanceof HTMLElement &&
        ($days.innerText = formatTime(diff / DAY));

      //update hours
      $hours instanceof HTMLElement &&
        ($hours.innerText = formatTime((diff % DAY) / HOUR));

      //update minutes
      $minutes instanceof HTMLElement &&
        ($minutes.innerText = formatTime((diff % HOUR) / MINUTE));

      //update seconds
      $seconds instanceof HTMLElement &&
        ($seconds.innerText = formatTime((diff % MINUTE) / SECOND));
    }
    setInterval(updateCountdown, SECOND);
  }
  init();
</script>

<style>
  .countdown-container {
    margin-top: -2rem;
    max-width: 500px;
    width: 100%;
    padding: 0 1rem;
  }

  header {
    text-align: center;
    line-height: 1.4;
    margin-bottom: 2rem;
  }

  h1 {
    margin-bottom: 0.75rem;
  }

  .countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
    background-color: var(--accent);
    border: 0.2rem solid var(--highlight);
    padding: 1rem 1.5rem;
    color: var(--highlight);
    margin: 1.5rem 0;
    color: var(--highlight);
  }

  .countdown p {
    text-align: center;
    color: var(--highlight);
  }

  .countdown span {
    font-weight: bold;
  }

  .text-secondary {
    text-align: center;
    font-size: 1rem;
    color: var(--tertiary);
  }

  @media screen and (max-width: 600px) {
    .countdown-container {
      margin-top: -2rem;
    }
    .countdown {
      gap: 1rem;
      padding: 1rem;
    }
    header {
      margin-bottom: 0rem;
    }

    h1 {
      font-size: 5em;
      line-height: 0.75;
      margin-bottom: rem;
    }

    h2 {
      font-size: 1.25rem;
    }

    .countdown p {
      font-size: 1.25rem;
    }

    .countdown span {
      font-size: 1.5rem;
    }
    .text-secondary {
      font-size: 1.25rem;
    }
  }
</style>
