---

---

<div class="footer">
  <p class="logo">
    created by: <a
      href="https://github.com/annacano0/annacano.dev"
      target="_blank">annacano0</a
    >
  </p>
  <div class="socials">
    <a
      class="icon"
      href="https://www.linkedin.com/in/anna-cano-palacios/"
      target="_blank">in</a
    >
    <a class="icon" href="https://github.com/annacano0" target="_blank">Gh</a>
  </div>
</div>
<style>
  .footer {
    width: 90%;
    background-color: var(--background);
    border-top: 1px solid red;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 3em;
  }

  .logo {
    font-size: 1.5em;
  }
</style>
