---

---

<header class="header">
  <nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/projects/">Projects</a>
    <a href="#" class="theme-button">Theme</a>
  </nav>
</header>

<style>
  .header {
    width: 90%;
    background-color: var(--background);
    border-bottom: 1px solid red;
    position: fixed;
    top: 0px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin: 0.25em 3em;
  }

  nav a {
    font-size: 1.5em;
  }
</style>
