---

---

<header class="header">
  <nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/projects/">Projects</a>
    <button class="icon icon-simple" id="theme-toggle"></button>
  </nav>
</header>

<script>
  const themeToggle = document.getElementById("theme-toggle");

  const THEMES = {
    LIGHT: "light-theme",
    DARK: "dark-theme",
  };

  const setTheme = (theme: string) => {
    document.documentElement.classList.remove(THEMES.LIGHT, THEMES.DARK);
    document.documentElement.classList.add(theme);
    localStorage.setItem("theme", theme);
  };

  const savedTheme = localStorage.getItem("theme");

  if (savedTheme) {
    document.documentElement.classList.add(savedTheme);
    setTheme(savedTheme);
  }

  themeToggle?.addEventListener("click", () => {
    const isDark = document.documentElement.classList.contains(THEMES.DARK);
    const newTheme = isDark ? THEMES.LIGHT : THEMES.DARK;
    setTheme(newTheme);
  });
</script>

<style>
  .header {
    width: 100%;
    background-color: var(--background);
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
  }

  nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid red;
    padding: 0.75% 10%;
  }

  nav a {
    font-size: 1.5em;
  }

  button.icon {
    size: 1em;
    background: url("../assets/icons/sword.svg") no-repeat center;
  }

  :global(.dark-theme button.icon) {
    background: url("../assets/icons/sword.svg") no-repeat center;
  }

  :global(.light-theme button.icon) {
    background: url("../assets/icons/moon.svg") no-repeat center;
  }

  button.icon {
    width: 34px;
    background-size: 100%;
  }
</style>
